<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Faça A  Certa</title>
      <link rel="stylesheet"
         type="text/css"
         href="../style/horarios.css"
         media="screen"/>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
   </head>
   <body>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #72e744;">
        <a class="navbar-brand " href="home.html" style="font-family: 'Poppins', sans-serif;">Início</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="horarios.html" style="font-family: 'Poppins', sans-serif;">IFRN<span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#" style="font-family: 'Poppins', sans-serif;">Notícias</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="profile.html" style="font-family: 'Poppins', sans-serif;">Perfil</a>
            </li>
          </ul>
          
        </div>
      </nav>
      <!-- HEADER DA PÁGINA PRINCIPAL-->
      <header>
        
      </header>
      <main style="font-family: 'Poppins', sans-serif">

        <div class="jumbotron" style="background-color: honeydew; font-family: 'Poppins', sans-serif;">
            <h1 class="display-4">Horários</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
        </div>

        <div class="container">

            <div class="row" style="padding-top: 16px;">
                
                <div class="col-lg-3  col-md-4">
                    <h2>Planilha</h2>
                </div>
    
                <div class="col-lg-3  col-md-4">

                </div>
                
                <div class="col-lg-3  col-md-4">

                </div>
    
                <div class="col-lg-3  col-md-4">
                    <button class="btn btn-primary" style="background-color: rgb(15, 15, 15); width: 220px; margin-left: 5px; height: 40px;" onclick="openForm()"><h4>Adicionar</h4></button>

                </div>
                
            </div>
            
        </div>
        <div class="container">
        <div class="form-popup" id="formulario">
            <div class="col-sd-3">
            <form class="form-container">
              <h1>Horário</h1>
          
              <label for="email"><b>Data</b></label>
              <input type="date" class="form-control datepicker" id="data"  required>
              <label for="email" style="padding-top: 10px;"><b>Hora</b></label>
              <input type="time" class="form-control datepicker" id="hora" style="margin-bottom: 16px;" required>


              <button type="button" class="btn btn-primary" style="background-color: #04AA6D;" onclick="adicionar()">Adicionar</button>
              <button type="button" class="btn btn-primary cancel" style="background-color: red;" onclick="closeForm()">Cancelar</button>
            </form>
          </div>
        </div>

        <div class="container">

            <div class="row" style="padding-top: 16px;">
                
                <div class="col-lg-3  col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Título do card 1</h5>
                            <p class="card-text">Um texto qualquer pra esse cartão aqui qualquer.</p>
                            <a href="#" class="btn btn-primary" id="botaocard">Vai pra algum lugar</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3  col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Título do card 2</h5>
                            <p class="card-text">Um texto qualquer pra esse cartão aqui qualquer.</p>
                            <a href="#" class="btn btn-primary" id="botaocard">Vai pra algum lugar</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-3  col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Título do card 3</h5>
                            <p class="card-text">Um texto qualquer pra esse cartão aqui qualquer.</p>
                            <a href="#" class="btn btn-primary" id="botaocard">Vai pra algum lugar</a>
                        </div>
                    </div>
                </div>
    
                <div class="col-lg-3  col-md-4">
                    <div class="card cartao">
                        <div class="card-body">
                            <h5 class="card-title">Título do card 4</h5>
                            <p class="card-text">Um texto qualquer pra esse cartão aqui qualquer.</p>
                            <a href="#" class="btn btn-primary" id="botaocard">Vai pra algum lugar</a>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>

        <div class="container">

            <div class="row" style="padding-top: 16px;" id="ID">
                
                
            </div>
            
        </div>
        

      </main>
         <div class="text-center p-3" style="background-color: rgba(0, 0, 0); color: #72e744;">
            © 2021 Copyright:
            <a class="text-white" href="https://www.instagram.com/_joabson_pereira/">Joabson Pereira</a>
         </div>
    
      </footer>

      <script type="text/javascript" src="horariosjs.js"></script>
      <script src="/assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   </body>
</html>