<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdonisJS - A fully featured web framework for Node.js</title>
  <link rel="stylesheet"
         type="text/css"
         href="../style/login.css"
         media="screen"/>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

  <main>
  <h1 class="text-center" style="padding-top: 40px;font-family: 'Poppins', sans-serif;">Login</h1>
    <div class="container" style="width: 60%;">
        <form>

            <div class="form-group" style="font-family: 'Poppins', sans-serif;">
                <label for="inputNome">Matrícula</label>
                <input type="text" class="form-control" id="inputNome" style="background-color: #befda6;"></input>
            </div>

            <div class="form-group" style="font-family: 'Poppins', sans-serif;">
                <label for="inputEmail">Senha</label>
                <input type="password" class="form-control" id="inputEmail" style="background-color: #befda6;"></input>
            </div>

            <div class="form-group" style="font-family: 'Poppins', sans-serif;">
                <button type="button" class="btn btn-primary" style="margin-top: 20px; width: 100%; background-color: rgb(56, 56, 56);"><a href="home.html" style="color: honeydew;" onclick="window.open('home.html')">Entrar</a></button>
            </div>

        </form>

    </div>
  

  </main>


 
</body>
<footer>

</footer>
</html>
